<main class="content">
  <div class="container-fluid p-0">

    <h1 class="h3 mb-3">Items</h1>

    <div class="row">
      <div class="col-12">
        <%= render 'layouts/shared/items' %>
      </div>
    </div>

  </div>
</main>
